{% extends 'base.html' %}
{% block content %}
<div id="main-wrapper">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-8 col-12-medium">
                <div id="content">
                    <center><h1> Вход на сайт MoonLib</h1></center>
                    <br>
                    <br>
                    <br>
                    <div style="margin-left: 30px; right: px;">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                            <input type="submit" name="Create User">
                        </form>
                    </div>
                    <section>
                </div>
            </div>
            <div class="col-4 col-12-medium">
                <div id="sidebar">
                    <footer>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h6>Еще не зарегистрированы?</h6>
                        <a href="#" class="button icon solid fa-circle">Войти</a>
                    </footer>
                    </section>
                    <section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}